@media (max-width : 1000px) {
    main {
      display: grid;
      grid-template-columns: 1fr;
      background: rgb(0,249,255);
      background: linear-gradient(0deg, rgba(0,249,255,1) 0%, rgba(32,0,150,1) 40%);  
    }
  main div p1{
    font-size: 27px;
    padding-bottom: 20px;
  }
  main div img{
    padding-top: 29px;
    width: 390px;

  }
    .banner {
      background-image: url(https://www.konami.com/efootball/s/img/main_page_1.png?v=587);
      background-position: center;
      color: #fff;
      height: 500px;
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    main div {
      align-items: center;
      padding-bottom: 0px;
    }
  
    .btn1 {
      display: inline-block;
      padding: 0.9rem 1.8rem;
      font-size: 35px;
      font-weight: 700;
      color: white;
      border: 3px solid rgb(252, 70, 100);
      cursor:default;
      position: relative;
      background-color: transparent;
      text-decoration: none;
      overflow: hidden;
      z-index: 1;
      font-family: inherit;
     }
  
    div h1 {
      font-size: 50px;
    }
  
    div p {
      font-size: 30px;
    }
  
    main div h1{
      font-size: 27px;
      width: 350px;
    }
  
    main div p{
      padding-bottom: 0px;
    }
  
    .logo a {
      text-decoration: none;
  
      /* From Uiverse.io by cssbuttons-io */
      button {
        --glow-color: rgb(217, 176, 255);
        --glow-spread-color: rgba(191, 123, 255, 0.781);
        --enhanced-glow-color: rgb(231, 206, 255);
        --btn-color: rgb(100, 61, 136);
        border: .25em solid var(--glow-color);
        padding: 1em 3em;
        color: var(--glow-color);
        font-size: 15px;
        font-weight: bold;
        background-color: var(--btn-color);
        border-radius: 1em;
        outline: none;
        box-shadow: 0 0 1em .25em var(--glow-color),
          0 0 4em 1em var(--glow-spread-color),
          inset 0 0 .75em .25em var(--glow-color);
        text-shadow: 0 0 .5em var(--glow-color);
        position: relative;
        transition: all 0.3s;
      }
  
      button::after {
        pointer-events: none;
        content: "";
        position: absolute;
        top: 120%;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: var(--glow-spread-color);
        filter: blur(2em);
        opacity: .7;
        transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
      }
  
      button:hover {
        color: var(--btn-color);
        background-color: var(--glow-color);
        box-shadow: 0 0 1em .25em var(--glow-color),
          0 0 4em 2em var(--glow-spread-color),
          inset 0 0 .75em .25em var(--glow-color);
      }
  
      button:active {
        box-shadow: 0 0 0.6em .25em var(--glow-color),
          0 0 2.5em 2em var(--glow-spread-color),
          inset 0 0 .5em .25em var(--glow-color);
      }
    }
  
    /* ---------------------------------------------------------------------------------------------------------------------- */
   /* From Uiverse.io by BHARGAVPATEL1244 */ 
button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #66ff66;
    color: ghostwhite;
   }
   
   button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }
   
   button:hover span {
    color: black;
   }
   
   button::before,
   button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
  button::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   button:hover::before {
    transform: translate3d(100%, 0, 0);
   }
   
  
    footer p {
      font-size: 20px;
    }
  
  }